<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wspacServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="wspacServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://development.4gfactor.com:8008/wspacService"
                binding="basicHttpBinding" bindingConfiguration="wspacServiceBinding"
                contract="FactorTest.wspacServicePortType" name="wspacServicePort" />
        </client>
    </system.serviceModel>
</configuration>